.DatePickerContainer{
  max-width: 500px;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
              0 1px 3px 0 rgba(63, 63, 68, 015);

}

.DatePickerContainer_Title{
  font-size: 1.2rem;
  color: #4f4f4f;
}
